[submodule "libs/js/fs-meadia-queries"]
	path = libs/js/fs-meadia-queries
	url = https://github.com/lukasoppermann/fs-media-queries.git
[submodule "libs/js/gmaps"]
	path = libs/js/gmaps
	url = https://github.com/HPNeo/gmaps.git
[submodule "MyGridalicious"]
	path = libs/js/gridalicious
	url = https://github.com/lukasoppermann/Grid-A-Licious.git
[submodule "libs/js/freetile"]
	path = libs/js/freetile
	url = https://github.com/lukasoppermann/Freetile.git
